<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <p>你好,<%= userName %></p>
    <hr/>
    <%- include('widgets/user_info',{
      isMe
    }) %>
    <%- include('widgets/blog_list',{
      blogList 
    }) %>

    <p>观看次数,<%= viewNum %></p>
 
  </body>
</html>
